My project/Assets/ForestVision/Materials/Sky/04-23_Sun_A.hdr.meta
My project/Assets/ForestVision/Materials/Sky/04-23_Sun_A.hdr.meta
My project/Assets/ForestVision/Materials/Sky/04-23_Sun_A.hdr.meta
My project/Assets/ForestVision/Materials/Sky/04-23_Sun_A.hdr.meta
My project/Assets/ForestVision/Materials/Vegetation/Textures/BackgroundElements/veg_ThickWoodsBackground.tga.meta
My project/Assets/ForestVision/Materials/Sky/04-23_Sun_A.hdr.meta
